@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Forgot Password</h1>
<div class="row">

<form method="post">
  <div class="mb-3">
    <label asp-for="Email" class="form-label">Email</label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>