@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Reset Password</h1>
<div class="row">
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Token" type="hidden" />
    <input asp-for="Email" type="hidden" />

  <div class="mb-3">
    <label asp-for="Password" class="form-label">Password</label>
    <input asp-for="Password" type="password" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
   <div class="mb-3">
    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
    <input asp-for="ConfirmPassword" type="password" class="form-control" >
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Reset</button>
</form>
</div>